<div class="APP">

  <header>
    <img src="assets/img/logo.png" />
  </header>

  <main class="MAIN container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        Do you like these old games from 80's and 90's? Have you experienced the 
        sensation to play these games in a old computer like a 286 or 386 with MS-DOS? 
        Doom, Alone in the Dark, Rayman, Commander Keen, Quake are familiar names to you? 
        So you're in the right place! Here we will bring a massive community content about the golden times!
      </div>
      <div class="row">
        <div class="col-12 text-center mt-5">
          <img class="MSDOS" src="assets/img/msdos.png" />
        </div>
      </div>
    </div>
  </main>

</div>